## JHU COVID-19 Comparing Daily Reports Data

The purpose of the notebook is to evaluate the coronavirus (COVID-19) data provided by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU). 

__Data Source:__  [CSSE-JHU COVID-19 data repository](https://github.com/CSSEGISandData/COVID-19)

#### Python Libraries

In [1]:
import pandas as pd
from pathlib import Path

#### Load csv data into dataframes

In [2]:
start_date = 20200322  #date of first KY confirmed case
end_date = 20200326  # last date of old file format
filePath = Path("data")   # the file path for data
flag=0

#### Load csv data into dataframes

In [15]:
file_name1=str(start_date)
file_name1=file_name1[4:6]+'-'+file_name1[6:8]+'-'+file_name1[:4]+'.csv'
file_name2=str(start_date+1)
file_name2=file_name2[4:6]+'-'+file_name2[6:8]+'-'+file_name2[:4]+'.csv'
print (file_name1,file_name2)

03-22-2020.csv 03-23-2020.csv

In [47]:
daily_rpts_url1 = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/'+file_name1

daily_df1 = pd.read_csv(daily_rpts_url1, dtype={'FIPS': str})

ky_daily_df1 = daily_df1[(daily_df1.Province_State=='Kentucky') & (daily_df1.Confirmed > 0)].copy()
print('Length of dataframe:', len(ky_daily_df))
ky_daily_df1[['Confirmed','Deaths']].sum(axis = 0, skipna = True) 

ky_daily_df1['date']=str(start_date)
df1_list=ky_daily_df1[['Admin2','Confirmed','date']]

Length of dataframe: 20

In [48]:
daily_rpts_url2 = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/'+file_name2

daily_df2 = pd.read_csv(daily_rpts_url2, dtype={'FIPS': str})

ky_daily_df2 = daily_df2[(daily_df2.Province_State=='Kentucky') & (daily_df2.Confirmed > 0)].copy()
print('Length of dataframe:', len(ky_daily_df2))
ky_daily_df2[['Confirmed','Deaths']].sum(axis = 0, skipna = True) 

ky_daily_df2['date']=str(start_date)
df2_list=ky_daily_df2[['Admin2','Confirmed','date']]

Length of dataframe: 27

In [33]:
set(df1_list).difference(set(df2_list))

TypeError: unhashable type: 'list'

In [38]:
differences = []

for list in df1_list:
    if list not in df2_list:
        differences.append(list)

In [39]:
differences

[['Unassigned', 39, '20200322'],
 ['Jefferson', 25, '20200322'],
 ['Fayette', 10, '20200322'],
 ['Harrison', 7, '20200322'],
 ['Warren', 2, '20200322'],
 ['Pulaski', 2, '20200322'],
 ['Kenton', 1, '20200322'],
 ['Daviess', 1, '20200322'],
 ['Anderson', 1, '20200322'],
 ['Christian', 1, '20200322'],
 ['Franklin', 1, '20200322'],
 ['Hardin', 1, '20200322']]

In [41]:
differences2 = []

for list in df2_list:
    if list not in df1_list:
        differences.append(list)
differences2

[]

In [42]:
df2_list

[['Anderson', 2, '20200322'],
 ['Bourbon', 2, '20200322'],
 ['Breathitt', 1, '20200322'],
 ['Calloway', 1, '20200322'],
 ['Christian', 2, '20200322'],
 ['Clark', 2, '20200322'],
 ['Daviess', 11, '20200322'],
 ['Fayette', 15, '20200322'],
 ['Franklin', 2, '20200322'],
 ['Hardin', 2, '20200322'],
 ['Harrison', 8, '20200322'],
 ['Henderson', 2, '20200322'],
 ['Jefferson', 33, '20200322'],
 ['Jessamine', 1, '20200322'],
 ['Kenton', 5, '20200322'],
 ['Lyon', 1, '20200322'],
 ['Madison', 2, '20200322'],
 ['Martin', 1, '20200322'],
 ['Menifee', 1, '20200322'],
 ['Montgomery', 2, '20200322'],
 ['Muhlenberg', 2, '20200322'],
 ['Nelson', 1, '20200322'],
 ['Oldham', 1, '20200322'],
 ['Pulaski', 3, '20200322'],
 ['Spencer', 1, '20200322'],
 ['Unassigned', 15, '20200322'],
 ['Warren', 4, '20200322']]

In [56]:
dfx=pd.merge(df1_list, df2_list, on=['Admin2'], how='left')

dfx['diff']=dfx.Confirmed_y-dfx.Confirmed_x
dfx

        Admin2  Confirmed_x    date_x  Confirmed_y    date_y  diff
0   Unassigned           39  20200322           15  20200322   -24
1    Jefferson           25  20200322           33  20200322     8
2      Fayette           10  20200322           15  20200322     5
3     Harrison            7  20200322            8  20200322     1
4   Montgomery            2  20200322            2  20200322     0
5        Clark            2  20200322            2  20200322     0
6      Bourbon            2  20200322            2  20200322     0
7    Henderson            2  20200322            2  20200322     0
8       Warren            2  20200322            4  20200322     2
9      Pulaski            2  20200322            3  20200322     1
10      Nelson            1  20200322            1  20200322     0
11        Lyon            1  20200322            1  20200322     0
12      Kenton            1  20200322            5  20200322     4
13     Daviess            1  20200322           11  20200322    10
14    Anderson            1  20200322            2  20200322     1
15    Calloway            1  20200322            1  20200322     0
16   Christian            1  20200322            2  20200322     1
17    Franklin            1  20200322            2  20200322     1
18      Hardin            1  20200322            2  20200322     1
19      Oldham            1  20200322            1  20200322     0