## Analysis of Coronavirus (COVID-19) Pandemic Data 

The purpose of the notebook is to evaluate the coronavirus (COVID-19) data provided by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU).  This workbook only evaluates the time series dataset provided by JHU-CSSE.

As of March 17, 2020 this notebook is still a work in progress.  Most disappointing is the updates from the JHU dataset for U.S. county reporting seem to have been discontinued. All the datasets from JHU seem to lag behind state reporting.

#### Data Source: 
CSSE-JHU COVID-19 data repository https://github.com/CSSEGISandData/COVID-19  

---

## JHU COVID-19 Daily Reports Data

The purpose of the notebook is to evaluate the coronavirus (COVID-19) data provided by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU).  This workbook only evaluates the time series dataset provided by JHU-CSSE.  

__Data Source:__  [CSSE-JHU COVID-19 data repository](https://github.com/CSSEGISandData/COVID-19)

#### Python Libraries

In [1]:
import pandas as pd
from pathlib import Path

#### Load csv data into dataframes

In [2]:
start_date = 20200306  #date of first KY confirmed case
end_date = 20200310  # last date of old file format
filePath = Path("data")   # the file path for data
flag=0

#### Load csv data into dataframes

In [3]:
daily_rpts_url = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv'

daily_df = pd.read_csv(daily_rpts_url)
print ('Rows in daily:',len(daily_rpts_url))

Rows in daily: 115

In [4]:
daily_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3415 entries, 0 to 3414
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            3151 non-null   float64
 1   Admin2          3172 non-null   object
 2   Province_State  3253 non-null   object
 3   Country_Region  3415 non-null   object
 4   Last_Update     3415 non-null   object
 5   Lat             3415 non-null   float64
 6   Long_           3415 non-null   float64
 7   Confirmed       3415 non-null   int64
 8   Deaths          3415 non-null   int64
 9   Recovered       3415 non-null   int64
 10  Active          3415 non-null   int64
 11  Combined_Key    3415 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 320.3+ KB

In [5]:
ky_daily_df = daily_df[daily_df.Province_State=='Kentucky'].copy()
print('Length of dataframe:', len(ky_daily_df))
ky_daily_df.head(20)

Length of dataframe: 121

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
5,21001.0,Adair,Kentucky,US,2020-03-23 23:19:34,37.104598,-85.281297,0,0,0,0,"Adair, Kentucky, US"
48,21003.0,Allen,Kentucky,US,2020-03-23 23:19:34,36.751976,-86.194575,0,0,0,0,"Allen, Kentucky, US"
60,21005.0,Anderson,Kentucky,US,2020-03-23 23:19:34,38.006710,-84.991717,2,1,0,0,"Anderson, Kentucky, US"
121,21007.0,Ballard,Kentucky,US,2020-03-23 23:19:34,37.058428,-88.994277,0,0,0,0,"Ballard, Kentucky, US"
136,21009.0,Barren,Kentucky,US,2020-03-23 23:19:34,36.964698,-85.933389,0,0,0,0,"Barren, Kentucky, US"
147,21011.0,Bath,Kentucky,US,2020-03-23 23:19:34,38.147359,-83.745889,0,0,0,0,"Bath, Kentucky, US"
170,21013.0,Bell,Kentucky,US,2020-03-23 23:19:34,36.733552,-83.677667,0,0,0,0,"Bell, Kentucky, US"
235,21015.0,Boone,Kentucky,US,2020-03-23 23:19:34,38.970651,-84.726154,0,0,0,0,"Boone, Kentucky, US"
247,21017.0,Bourbon,Kentucky,US,2020-03-23 23:19:34,38.205461,-84.218279,2,1,0,0,"Bourbon, Kentucky, US"
252,21019.0,Boyd,Kentucky,US,2020-03-23 23:19:34,38.361766,-82.686522,0,0,0,0,"Boyd, Kentucky, US"
254,21021.0,Boyle,Kentucky,US,2020-03-23 23:19:34,37.626809,-84.863378,0,0,0,0,"Boyle, Kentucky, US"
255,21023.0,Bracken,Kentucky,US,2020-03-23 23:19:34,38.691590,-84.085324,0,0,0,0,"Bracken, Kentucky, US"
265,21025.0,Breathitt,Kentucky,US,2020-03-23 23:19:34,37.523332,-83.319592,1,0,0,0,"Breathitt, Kentucky, US"
266,21027.0,Breckinridge,Kentucky,US,2020-03-23 23:19:34,37.773772,-86.428850,0,0,0,0,"Breckinridge, Kentucky, US"
308,21029.0,Bullitt,Kentucky,US,2020-03-23 23:19:34,37.971625,-85.689556,0,0,0,0,"Bullitt, Kentucky, US"
325,21031.0,Butler,Kentucky,US,2020-03-23 23:19:34,37.209462,-86.687488,0,0,0,0,"Butler, Kentucky, US"
341,21033.0,Caldwell,Kentucky,US,2020-03-23 23:19:34,37.147491,-87.869482,0,0,0,0,"Caldwell, Kentucky, US"
360,21035.0,Calloway,Kentucky,US,2020-03-23 23:19:34,36.620934,-88.273159,1,0,0,0,"Calloway, Kentucky, US"
373,21037.0,Campbell,Kentucky,US,2020-03-23 23:19:34,38.943843,-84.378752,0,0,0,0,"Campbell, Kentucky, US"
389,21039.0,Carlisle,Kentucky,US,2020-03-23 23:19:34,36.853729,-88.966922,0,0,0,0,"Carlisle, Kentucky, US"

In [6]:
ky_daily_df[ky_daily_df.Admin2=='Fayette']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
919,21067.0,Fayette,Kentucky,US,2020-03-23 23:19:34,38.036822,-84.455769,15,1,0,0,"Fayette, Kentucky, US"

In [7]:
ky_daily_df[ky_daily_df.Admin2=='Jefferson']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
1410,21111.0,Jefferson,Kentucky,US,2020-03-23 23:19:34,38.186647,-85.65931,33,1,0,0,"Jefferson, Kentucky, US"