## JHU COVID-19 Daily Reports Data

The purpose of the notebook is to evaluate the coronavirus (COVID-19) data provided by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU). 

__Data Source:__  [CSSE-JHU COVID-19 data repository](https://github.com/CSSEGISandData/COVID-19)

#### Python Libraries

In [1]:
import pandas as pd
from pathlib import Path

#### Load csv data into dataframes

In [2]:
start_date = 20200326  #date of first KY confirmed case
end_date = 20200326  # last date of old file format
filePath = Path("data")   # the file path for data
flag=0

#### Load csv data into dataframes

In [3]:
daily_rpts_url = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/03-24-2020.csv'

daily_df = pd.read_csv(daily_rpts_url, dtype={'FIPS': str})
print ('Rows in daily:',len(daily_rpts_url))

Rows in daily: 115

In [4]:
daily_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3417 entries, 0 to 3416
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            3150 non-null   object
 1   Admin2          3170 non-null   object
 2   Province_State  3252 non-null   object
 3   Country_Region  3417 non-null   object
 4   Last_Update     3417 non-null   object
 5   Lat             3417 non-null   float64
 6   Long_           3417 non-null   float64
 7   Confirmed       3417 non-null   int64
 8   Deaths          3417 non-null   int64
 9   Recovered       3417 non-null   int64
 10  Active          3417 non-null   int64
 11  Combined_Key    3417 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 320.5+ KB

In [5]:
#ky_daily_df = daily_df[(daily_df.Province_State=='Kentucky') & (daily_df.Confirmed>0)].copy()
ky_daily_df = daily_df[(daily_df.Province_State=='Kentucky')].copy()
print('Length of dataframe:', len(ky_daily_df))
ky_daily_df[['Confirmed','Deaths']].sum(axis = 0, skipna = True)

Length of dataframe: 121

Confirmed    162
Deaths         4
dtype: int64

In [6]:
ky_daily_df[ky_daily_df.Admin2=='Fayette']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
919,21067,Fayette,Kentucky,US,2020-03-24 23:37:31,38.036822,-84.455769,15,1,0,0,"Fayette, Kentucky, US"

In [7]:
ky_daily_df[ky_daily_df.Admin2=='Jefferson']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
1410,21111,Jefferson,Kentucky,US,2020-03-24 23:37:31,38.186647,-85.65931,33,1,0,0,"Jefferson, Kentucky, US"

#### Write data to file

file_name = 'ky_new_format.csv'
file_out = filePath.joinpath(file_name)  # path and filename

ky_daily_df.to_csv(file_out)  # output to csv

#### Write the FIPS, latitude, and longitude data to file

ky_daily_df['county']=ky_daily_df.Admin2+' County'
ky_daily_df=ky_daily_df.rename(columns={'Admin2': 'county_short', 'Lat': 'lat', 'Long_': 'lon', 'Province_State': 'state'})
ky_daily_df=ky_daily_df.round(4)

file_name = 'ky_fips.csv'
file_out = filePath.joinpath(file_name)  # path and filename

ky_daily_df[['FIPS','county','county_short','lat','lon']].to_csv(file_out,index=False)

In [10]:
ky_daily_df

,FIPS,county_short,state,Country_Region,Last_Update,lat,lon,Confirmed,Deaths,Recovered,Active,Combined_Key,county
5,21001,Adair,Kentucky,US,2020-03-24 23:37:31,37.1046,-85.2813,0,0,0,0,"Adair, Kentucky, US",Adair County
48,21003,Allen,Kentucky,US,2020-03-24 23:37:31,36.7520,-86.1946,0,0,0,0,"Allen, Kentucky, US",Allen County
60,21005,Anderson,Kentucky,US,2020-03-24 23:37:31,38.0067,-84.9917,2,1,0,0,"Anderson, Kentucky, US",Anderson County
121,21007,Ballard,Kentucky,US,2020-03-24 23:37:31,37.0584,-88.9943,0,0,0,0,"Ballard, Kentucky, US",Ballard County
136,21009,Barren,Kentucky,US,2020-03-24 23:37:31,36.9647,-85.9334,0,0,0,0,"Barren, Kentucky, US",Barren County
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,21231,Wayne,Kentucky,US,2020-03-24 23:37:31,36.8031,-84.8252,0,0,0,0,"Wayne, Kentucky, US",Wayne County
3038,21233,Webster,Kentucky,US,2020-03-24 23:37:31,37.5217,-87.6799,1,0,0,0,"Webster, Kentucky, US",Webster County
3072,21235,Whitley,Kentucky,US,2020-03-24 23:37:31,36.7570,-84.1454,0,0,0,0,"Whitley, Kentucky, US",Whitley County
3115,21237,Wolfe,Kentucky,US,2020-03-24 23:37:31,37.7394,-83.4930,0,0,0,0,"Wolfe, Kentucky, US",Wolfe County
3122,21239,Woodford,Kentucky,US,2020-03-24 23:37:31,38.0418,-84.7418,0,0,0,0,"Woodford, Kentucky, US",Woodford County