### Process KYCOVID-19 confirmed cases from 3-20-2020 press realease

Data Source: https://governor.ky.gov/news  &  https://governor.ky.gov/attachments/COVID19_Case-Information.pdf  

This notebook details how to read a PDF file and convert it to data ready for Pandas

In [1]:
import tika
from tika import parser
import pandas as pd
from pathlib import Path

In [2]:
filePath = Path("data")

In [3]:
# parser needs a full path to pdf doc
raw = parser.from_file('/Users/mark/Documents/github-public/covid-19/data/covid19_case_information_03_20_2020.pdf')

#### Remove leading and trailing spaces and newline chars

In [4]:
raw=raw['content'].lstrip().rstrip()
raw

'COVID-19 case information \n \n\nAs of 5 p.m. March 20, the state’s COVID-19 patient information includes 63 who have tested \npositive. \n\n27        F          Harrison, recovered \n69        M         Jefferson \n67        F          Harrison \n40        F          Fayette \n68        M         Harrison \n46        M         Fayette \n60        M         Harrison \n54        F          Harrison \n31        F          Fayette \n51        M         Harrison \n56        M         Montgomery \n80        F          Jefferson \n68        F          Jefferson \n66        M         Bourbon, passed away \n53        M         Nelson \n67        F          Jefferson \n47        M         Fayette \n31        M         Fayette \n49        M         Clark \n73        F          Jefferson \n54        M         Jefferson \n51        M         Montgomery \n34        F          Jefferson \n33        F          Out of State \n74        M         Jefferson \n66        M         Jefferson \n69        M         Lyon \n88        F          Bourbon \n27        F          Clark \n51        M         Daviess \n26        F          Fayette \n61        F          Franklin \n\n50        M         Harrison \n            F          Henderson \n66        F          Kenton \n59        F          Pulaski \n73        M         Warren \n61        F          Christian \n            F          Fayette \n45        F          Jefferson \n46        F          Jefferson \n            F          Henderson \n17        F          Jefferson \n            F          Warren \n48        F          Pulaski \n28        M         Calloway \n79        F          Jefferson \n34        M         Fayette \n67        M         Fayette \n55        F          Fayette \n            F          Jefferson \n            F          Jefferson \n            F          Jefferson \n                        Jefferson \n            F          Jefferson \n            M         Jefferson \n            M         Jefferson \n            M         Anderson \n            F          Jefferson \n            F          Jefferson \n            M         Jefferson \n            F          Jefferson \n            F          Jefferson \n\n \n\nAdditional cases and demographics of other cases mentioned were not known by 5 p.m. ET \nFriday so not all cases are listed.'

In [5]:
raw=raw.replace(' \n\n', '\n').replace(' \n\n', '\n').replace('\n\n', '\n').replace(' \n','\n').replace(', ',' ')
raw

'COVID-19 case information\nAs of 5 p.m. March 20 the state’s COVID-19 patient information includes 63 who have tested\npositive.\n27        F          Harrison recovered\n69        M         Jefferson\n67        F          Harrison\n40        F          Fayette\n68        M         Harrison\n46        M         Fayette\n60        M         Harrison\n54        F          Harrison\n31        F          Fayette\n51        M         Harrison\n56        M         Montgomery\n80        F          Jefferson\n68        F          Jefferson\n66        M         Bourbon passed away\n53        M         Nelson\n67        F          Jefferson\n47        M         Fayette\n31        M         Fayette\n49        M         Clark\n73        F          Jefferson\n54        M         Jefferson\n51        M         Montgomery\n34        F          Jefferson\n33        F          Out of State\n74        M         Jefferson\n66        M         Jefferson\n69        M         Lyon\n88        F          Bourbon\n27        F          Clark\n51        M         Daviess\n26        F          Fayette\n61        F          Franklin\n50        M         Harrison\n            F          Henderson\n66        F          Kenton\n59        F          Pulaski\n73        M         Warren\n61        F          Christian\n            F          Fayette\n45        F          Jefferson\n46        F          Jefferson\n            F          Henderson\n17        F          Jefferson\n            F          Warren\n48        F          Pulaski\n28        M         Calloway\n79        F          Jefferson\n34        M         Fayette\n67        M         Fayette\n55        F          Fayette\n            F          Jefferson\n            F          Jefferson\n            F          Jefferson\n                        Jefferson\n            F          Jefferson\n            M         Jefferson\n            M         Jefferson\n            M         Anderson\n            F          Jefferson\n            F          Jefferson\n            M         Jefferson\n            F          Jefferson\n            F          Jefferson\nAdditional cases and demographics of other cases mentioned were not known by 5 p.m. ET\nFriday so not all cases are listed.'

In [6]:
while '   ' in raw:
    raw = raw.replace('   ', '  ')
raw = raw.replace('  ',',')
raw

'COVID-19 case information\nAs of 5 p.m. March 20 the state’s COVID-19 patient information includes 63 who have tested\npositive.\n27,F,Harrison recovered\n69,M,Jefferson\n67,F,Harrison\n40,F,Fayette\n68,M,Harrison\n46,M,Fayette\n60,M,Harrison\n54,F,Harrison\n31,F,Fayette\n51,M,Harrison\n56,M,Montgomery\n80,F,Jefferson\n68,F,Jefferson\n66,M,Bourbon passed away\n53,M,Nelson\n67,F,Jefferson\n47,M,Fayette\n31,M,Fayette\n49,M,Clark\n73,F,Jefferson\n54,M,Jefferson\n51,M,Montgomery\n34,F,Jefferson\n33,F,Out of State\n74,M,Jefferson\n66,M,Jefferson\n69,M,Lyon\n88,F,Bourbon\n27,F,Clark\n51,M,Daviess\n26,F,Fayette\n61,F,Franklin\n50,M,Harrison\n,F,Henderson\n66,F,Kenton\n59,F,Pulaski\n73,M,Warren\n61,F,Christian\n,F,Fayette\n45,F,Jefferson\n46,F,Jefferson\n,F,Henderson\n17,F,Jefferson\n,F,Warren\n48,F,Pulaski\n28,M,Calloway\n79,F,Jefferson\n34,M,Fayette\n67,M,Fayette\n55,F,Fayette\n,F,Jefferson\n,F,Jefferson\n,F,Jefferson\n,Jefferson\n,F,Jefferson\n,M,Jefferson\n,M,Jefferson\n,M,Anderson\n,F,Jefferson\n,F,Jefferson\n,M,Jefferson\n,F,Jefferson\n,F,Jefferson\nAdditional cases and demographics of other cases mentioned were not known by 5 p.m. ET\nFriday so not all cases are listed.'

In [7]:
string_list = [x.split(',') for x in raw.split('\n')]
string_list = string_list[3:-2]
string_list[:10]

[['27', 'F', 'Harrison recovered'],
 ['69', 'M', 'Jefferson'],
 ['67', 'F', 'Harrison'],
 ['40', 'F', 'Fayette'],
 ['68', 'M', 'Harrison'],
 ['46', 'M', 'Fayette'],
 ['60', 'M', 'Harrison'],
 ['54', 'F', 'Harrison'],
 ['31', 'F', 'Fayette'],
 ['51', 'M', 'Harrison']]

In [8]:
df_ky_03_20_2020 = pd.DataFrame(string_list,columns=['Age','M/F','County'])
df_ky_03_20_2020

   Age M/F              County
0   27   F  Harrison recovered
1   69   M           Jefferson
2   67   F            Harrison
3   40   F             Fayette
4   68   M            Harrison
..  ..  ..                 ...
58       F           Jefferson
59       F           Jefferson
60       M           Jefferson
61       F           Jefferson
62       F           Jefferson

[63 rows x 3 columns]

file_out = filePath.joinpath('ky_03_20_2020.csv')  # path and filename

df_ky_03_20_2020.to_csv(file_out, index=False)  # output to csv